function layout_poetry() {
  poetry run true # create venv if it doesn't exist
  export VIRTUAL_ENV=$(poetry env info --path)
  # nix-shell 'pollutes' PYTHONPATH with paths for Python apps that it installs.
  # Since we want to use Poetry for managing Python libaries, override PYTHONPATH
  # with Poetry's virtualenv. See: https://github.com/NixOS/nixpkgs/issues/10597
  export PYTHONPATH=$(echo $VIRTUAL_ENV/lib/*/site-packages | python -c "import sys; print(':'.join(sys.stdin.read().strip().split(' ')))")
  export POETRY_ACTIVE=1
  PATH_add "$VIRTUAL_ENV/bin"
}
use flake
layout_poetry
dotenv_if_exists
